<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Welcome Administrator! - @Page.Title</title>
        <link href="@Href("~/Styles/Site.css")" rel="stylesheet" />
        <link href="@Href("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
        <div id="page">
            <div id="header">
                <p class="site-title">Administrator</p>
                <div id="login">
                    @if (WebSecurity.IsAuthenticated) {
                        <p>
                            Welcome <a href="@Href("~/Account/ChangePassword")" title="Change password">@WebSecurity.CurrentUserName</a>!
                            <a href="@Href("~/Account/Logout")">Logout</a>
                        </p>
                    } else {
                        <ul>
                            <li><a href="@Href("~/Account/Register")">Register</a></li>
                            <li><a href="@Href("~/Account/Login")">Login</a></li>
                        </ul>
                    }
                </div>
                <ul id="menu">
                    <li><a href="@Href("~/Default_Admin")">Home</a></li>
                    <li><a href="@Href("~/Admin_Change_User_Info_Priv")">Change User Information/Priviledges</a></li>
                    <li><a href="@Href("~/Admin_Generate_Reports")">Generate Reports</a></li>
                    <li><a href="@Href("~/Admin_About")">About the VMS</a></li>
                </ul>
            </div>
            <div id="main">
                <div id="content">
                    <h1>@Page.Title</h1>
                    @RenderBody()
                </div>
                <div id="footer">
                    &copy; @DateTime.Now.Year - Lin Greene - CSUF Volunteer and Service Center
                </div>
            </div>
        </div>
    </body>
</html>